<!-- <nav class="navbar navbar">
  <div class="container">
    <a class="navbar-brand ml-3" routerLink="/contact">
     <button class ="button"> <mat-icon>search</mat-icon></button>
    </a> -->
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

<!--      
    <ul class="nav navbar-nav  ">

     <li><a href="#"><img src="../../assets/img/add.png" style ="width:10px;" title="Click to contact us" alt="Contact us"></a> contact</li>
     <li><a href="#"><img src="../../assets/img/email.jpg" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
     <li> Mark henry<a href="#"><img src="../../assets/img/down.png" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
     <li><a href="#"><img src="../../assets/img/bell.png" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
    </ul>
  
  </div>
</nav> -->

 

<!-- <header>
  <div class="container container-nav">
    <div class="titles">
      <a class="navbar-brand ml-3" routerLink="/contact">
        <button class ="button"> <mat-icon>search</mat-icon></button>
       </a>
       
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><mat-icon>add</mat-icon></a> add</li>
        <li><a href="#"><mat-icon>email</mat-icon></a></li>
        <li><a href="#"> </a>Mark Herny<mat-icon>arrow_drop_down</mat-icon></li>
        <li><a href ="#"> <mat-icon>notification_important</mat-icon></a></li>
      </ul>
    
      
    </nav>
  </div>
</header> -->
<nav class="navbar">

<div class="container-fluid">
   <a class="navbar-brand ml-3" routerLink="/contact">
    <button class ="button"> <mat-icon>search</mat-icon></button>
   </a>



   <!-- <ul class="nav navbar-nav navbar-right">

    <li><a href="#"><img src="../../assets/img/add.png" style ="width:10px;" title="Click to contact us" alt="Contact us"></a> contact</li>
    <li><a href="#"><img src="../../assets/img/email.jpg" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
    <li> Mark henry<a href="#"><img src="../../assets/img/down.png" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
    <li><a href="#"><img src="../../assets/img/bell.png" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
   </ul> -->
 
</div>

<ul class="nav justify-content-end">

  <li><a href="#"><img src="../../assets/img/add.png" style ="width:10px;" title="Click to contact us" alt="Contact us"></a>Add</li>
  <li><a href="#"><img src="../../assets/img/email.jpg" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
  <li> Mark henry<a href="#"><img src="../../assets/img/down.png" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
  <li><a href="#"><img src="../../assets/img/bell.png" style ="width:20px;" title="Click to contact us" alt="Contact us"></a></li>
  <!-- <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li> -->
</ul>
</nav>
